site:
  title: 'antora-test-case-2023-a'
  url: https://pages.github.com/sturtison/antora-test-case-2023-a
  start_page: comp-a1::index.adoc
content:
  edit_url: '{web_url}/blob/{refname}/{path}'
  sources:
  - url: https://github.com/sturtison/antora-test-case-2023-a
    start_paths: doc/comp-a1,doc/comp-a2
    branches: HEAD
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
output:
  clean: true
  dir: './build/site'
  destinations:
  - provider: archive
    path: './build/site.zip'
runtime:
  log:
    level: all
    format: pretty
    destination:
      file: './build/antora.log'
